<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {{ title }} {% endblock %}</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="{% static "assets/css/icons/icomoon/styles.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/core.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/components.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/colors.css" %}" rel="stylesheet" type="text/css">

    <link href="{% static "assets/css/bootstrap-modal.css" %}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- own styles -->
    {% block css %}
    {% endblock %}
    <!--/ -->
</head>


<body class="navbar-top">
<!-- navbar -->
{% include 'layout/navbar.html' %}
<!-- /main navbar -->
<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <!-- Main sidebar -->
        {% include 'layout/sidebar.html' %}
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Page header -->
            {% include 'layout/page_header.html' %}
            <!-- /page header -->
            <!-- Content area -->
            <div class="content">
                <div style="display:none">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </div>
                {% block content %}
                {% endblock %}
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->
<!--Start of Tawk.to Script-->
{#<script type="text/javascript">#}
{#    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();#}
{#    (function () {#}
{#        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];#}
{#        s1.async = true;#}
{#        s1.src = 'https://embed.tawk.to/58caa3d355c2fd09f890cff2/default';#}
{#        s1.charset = 'UTF-8';#}
{#        s1.setAttribute('crossorigin', '*');#}
{#        s0.parentNode.insertBefore(s1, s0);#}
{#    })();#}
{#</script>#}
<!--End of Tawk.to Script-->
</body>
<!-- Core JS files -->
<script type="text/javascript" src="{% static "assets/js/core/libraries/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/core/libraries/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/plugins/loaders/blockui.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/plugins/ui/nicescroll.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/plugins/loaders/pace.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/layout_fixed_custom.js" %}"></script>
<script type="text/javascript">
    /** GLOBAL VARIABLES */
    var pathArray = location.href.split('/');
    var protocol = pathArray[0];
    var host = pathArray[2];
    BASEURL = protocol + '//' + host;
    IDUSUARIO = '{{ request.session.user_session.user_data.id }}';
    ubigeo = {
        ccdd: '{{ request.session.user_session.user_data.ccdd }}' == 'None' ? '' : '{{ request.session.user_session.user_data.ccdd }}',
        ccpp: '{{ request.session.user_session.user_data.ccpp }}' == 'None' ? '' : '{{ request.session.user_session.user_data.ccpp }}',
        ccdi: '{{ request.session.user_session.user_data.ccdi }}' == 'None' ? '' : '{{ request.session.user_session.user_data.ccdi }}',
        zona: '{{ request.session.user_session.user_data.zona }}' == 'None' ? '' : '{{ request.session.user_session.user_data.zona }}'
    }
    SESSION_KEY = '{{ session_key }}'
    //SEGURIDADBASEURL = 'http://cpv.inei.gob.pe/'
    SEGURIDADBASEURL = 'http://192.168.200.123:8000/'
</script>

<!-- Utils Js files -->
<script type="text/javascript" src="{% static "build/core/extends.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/plugins/forms/selects/select2.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/plugins/forms/styling/uniform.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/plugins/notifications/pnotify.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/plugins/notifications/sweet_alert.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/plugins/loaders/blockui.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/bootstrap-modal.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/bootstrap-modalmanager.js" %}"></script>
<!-- /core JS files -->
{% block js %}
{% endblock %}

<script type="text/javascript" src="{% static "assets/js/core/app.min.js" %}"></script>
<script type="text/javascript">
    $.extend(true, $.fn.dataTable.defaults, {
        "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script>
</html>