{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'reportes/dropdownReportes.html' %}
    <div class="panel panel-flat panel-inei">
        <div class="panel-heading">
            <h5 class="panel-title text-inei">UBICACIÓN GEOGRÁFICA</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li>
                        <button type="button" class="btn btn-primary btn-raised legitRipple" id="btn_reporte">Consultar
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <label>Cargos Funcionales</label>

                    <select id="cargo_funcional" class="form-control bg-white text-grey-400">

                        <option value="">Seleccione Cargo Funcional</option>
                    </select>

                </div>
                <div class="col-md-3">
                    <label>Departamento</label>

                    <select id="departamentos" class="form-control bg-white text-grey-400">

                        <option value="">Seleccione departamento</option>
                    </select>

                </div>
                <div class="col-md-3">

                    <label>Provincia</label>
                    <select id="provincias" class="form-control bg-white text-grey-400">

                        <option value="">Seleccione provincia</option>
                    </select>

                </div>
                <div class="col-md-3">
                    <label>Distrito</label>
                    <select id="distritos" class=" form-control bg-white text-grey-400">

                        <option value="">Seleccione distrito</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-flat panel-inei">
        <div class="panel-heading">
            <h6 class="panel-title"><a class="heading-elements-toggle"><i
                    class="icon-more"></i></a></h6>
            <div class="heading-elements">
                <div class="heading-btn">
                    <a id="btn_exportar" href="#" download="" data-popup="tooltip"
                       title="Exportar"
                       class="btn btn-success btn-icon legitRipple"><i
                            class="icon-file-excel"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="header_reporte" style="width: 40%" class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="bg-primary" style="width: 30%">CURSO</th>
                    <th style="width: 50%"><span id="span_curso"></span></th>
                </tr>
                <tr>
                    <th class="bg-primary" style="width: 30%">CARGO FUNCIONAL</th>
                    <th style="width: 50%"><span id="span_cargofuncional"></span></th>
                </tr>
                </thead>
            </table>
            <table id="tabla_reporte" class="table table-bordered">
                <thead>
                <tr class="bg-primary">
                    <th rowspan="2">N°</th>
                    <th rowspan="2">DEPARTAMENTO</th>
                    <th rowspan="2">PROVINCIA</th>
                    <th rowspan="2">DISTRITO</th>
                    <th rowspan="2">ZONA</th>
                    <th rowspan="2">META DE CAMPO</th>
                    <th rowspan="2">META DE CAPACITACIÓN</th>
                    <th rowspan="2">N° DE PERSONAL DADO DE BAJA</th>
                    <th rowspan="2">N° DE PERSONAL DADO DE ALTA</th>
                    <th colspan="2">N° DE PERSONAL CAPACITADO</th>
                </tr>
                <tr class="bg-primary">
                    <th>Absoluto</th>
                    <th>%</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <!-- /.modal -->
{% endblock %}

{% block js %}
    <script type="text/javascript"
            src="{% static "assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "assets/js/core/libraries/jquery_ui/interactions.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "assets/js/plugins/forms/selects/selectboxit.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/require.js" %}"
            data-main="{% static "build/reportes/reportes.view.js" %}"></script>
{% endblock %}
