{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'reportes/dropdownReportes.html' %}
    <div class="panel panel-flat panel-inei">
        <div class="panel-heading">
            <h5 class="panel-title text-inei">UBICACIÓN GEOGRÁFICA</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li>
                        <button type="button" class="btn btn-primary btn-raised legitRipple" id="btn_reporte">Consultar
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <label>Departamento</label>

                    <select id="departamentos" class="form-control bg-white text-grey-400">

                        <option value="">Seleccione departamento</option>
                    </select>

                </div>
                <div class="col-md-3">

                    <label>Provincia</label>
                    <select id="provincias" class="form-control bg-white text-grey-400">

                        <option value="">Seleccione provincia</option>
                    </select>

                </div>
                <div class="col-md-3">
                    <label>Distrito</label>
                    <select id="distritos" class=" form-control bg-white text-grey-400">

                        <option value="">Seleccione distrito</option>
                    </select>

                </div>
                <div class="col-md-3">
                    <label>Zona</label>
                    <select id="zona" class="form-control bg-white text-grey-400">
                        <option value="">Seleccione zona</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-flat panel-inei">
        <div class="panel-heading">
            <h6 class="panel-title"><a class="heading-elements-toggle"><i
                    class="icon-more"></i></a></h6>
            <div class="heading-elements">
                <div class="heading-btn">
                    <a id="btn_exportar" href="#" download="" data-popup="tooltip"
                       title="Exportar"
                       class="btn btn-success btn-icon legitRipple"><i
                            class="icon-file-excel"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div id="div_tabla_reporte" class="row">
                <table id="tabla_reporte" class="table table-bordered">
                    <caption>
                        <h4 style="text-align: center;text-transform: uppercase;"
                            class="text-inei text-primary text-bold">{{ reporte_selected.nombre }}</h4>
                        <br><br>
                    </caption>
                    <thead>
                    <tr class="bg-primary">
                        <th>N°</th>
                        <th>UBIGEO</th>
                        <th>DEPARTAMENTO</th>
                        <th>PROVINCIA</th>
                        <th>DISTRITO</th>
                        <th>CENTRO POBLADO</th>
                        <th>ZONA</th>
                        <th>MANZANA</th>
                        <th>NOMBRE DE LA INSTITUCIÓN EDUCATIVA</th>
                        <th>DIRECCIÓN</th>
                        <th>APELLIDOS Y NOMBRE DEL DIRECTOR</th>
                        <th>TURNO</th>
                        <th>GESTIÓN</th>
                        <th>N° DE ALUMNOS</th>
                        <th>N° DE DOCENTES</th>
                        <th>N° DE SECCIONES</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>
    </div>



    <!-- /.modal -->
{% endblock %}

{% block js %}
    <script type="text/javascript"
            src="{% static "assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "assets/js/core/libraries/jquery_ui/interactions.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "assets/js/plugins/forms/selects/selectboxit.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/require.js" %}"
            data-main="{% static "build/reportes/reportes.view.js" %}"></script>
{% endblock %}
