{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'reportes/dropdownReportes.html' %}
    <div class="panel panel-flat panel-inei">
        <div class="panel-heading">
            <h5 class="panel-title text-inei">UBICACIÓN GEOGRÁFICA</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li>
                        <button type="button" class="btn btn-primary btn-raised legitRipple" id="btn_reporte">Consultar
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <label>Departamento</label>

                    <select id="departamentos" class="form-control bg-white text-grey-400">

                        <option value="">Seleccione departamento</option>
                    </select>
                </div>
                <div class="col-md-3">

                    <label>Provincia</label>
                    <select id="provincias" class="form-control bg-white text-grey-400">

                        <option value="">Seleccione provincia</option>
                    </select>

                </div>
                <div class="col-md-3">
                    <label>Distrito</label>
                    <select id="distritos" class=" form-control bg-white text-grey-400">

                        <option value="">Seleccione distrito</option>
                    </select>

                </div>
                <div class="col-md-3">
                    <label>Zona</label>
                    <select id="zona" class="form-control bg-white text-grey-400">
                        <option value="">Seleccione zona</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Locales</label>
                    <select id="locales" class="form-control bg-white text-grey-400">
                        <option value="">Seleccione Local</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-flat panel-inei">
        <div class="panel-heading">
            <h6 class="panel-title"><a class="heading-elements-toggle"><i
                    class="icon-more"></i></a></h6>
            <div class="heading-elements">
                <div class="heading-btn">
                    <a id="btn_exportar" href="#" download="" data-popup="tooltip"
                       title="Exportar"
                       class="btn btn-success btn-icon legitRipple"><i
                            class="icon-file-excel"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="tabla_evaluacion"
                           class="table table-striped table-hover table-bordered">
                        <caption>
                            <p style="color: #2196F3 !important;font-weight: 700;text-align: center;">CENSOS
                                NACIONALES 2017: XII DE
                                POBLACIÓN, VII DE
                                VIVIENDA Y III DE
                                COMUNIDADES INDÍGENAS</p>
                            <p style="color: #2196F3 !important;font-weight: 700;text-align: center;">- III
                                COMUNIDADES INDÍGENAS –
                                III DE COMUNIDADES NATIVAS Y I DE COMUNIDADES CAMPESINAS</p>
                            <p style="color: #2196F3 !important;font-weight: 700;text-align: center;">
                                II CENSO
                                EXPERIMENTAL</p>
                            <p style="color: #2196F3 !important;font-weight: 700;text-align: center;">
                                REGISTRO DE NOTAS</p>
                            <p id="p_curso_actual"
                               class="text-primary text-center text-bold"></p>
                            <p style="color: #2196F3 !important;font-weight: 700;text-align: left;">
                                NOMBRE DE LOCAL:
                                <span id="span_nombre_local"></span></p>
                            <p style="color: #2196F3 !important;font-weight: 700;text-align: left;">
                                DIRECCIÓN: <span id="span_direccion"></span>
                            </p>
                            <p style="color: #2196F3 !important;font-weight: 700;text-align: left;">
                                FECHA DE CAPACITACIÓN: <span
                                    id="span_fecha_inicio"></span>
                            </p>
                            <p style="color: #2196F3 !important;font-weight: 700;text-align: left;"></span>
                            </p>
                            <p style="color: #2196F3 !important;font-weight: 700;text-align: left;">
                                INSTRUCTOR: <span id="span_nombre_instructor"></span>
                            </p>
                        </caption>
                        <thead>
                        <tr>
                            <th>N°</th>
                            <th>APELLIDOS Y NOMBRES</th>
                            <th>DNI</th>
                            <th>CARGO</th>
                            <th>ZONA N°</th>
                            <th>SECCIÓN N°</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <!-- /.modal -->
{% endblock %}

{% block js %}
    <script type="text/javascript"
            src="{% static "assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "assets/js/core/libraries/jquery_ui/interactions.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "assets/js/plugins/forms/selects/selectboxit.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/require.js" %}"
            data-main="{% static "build/reportes/reportes.view.js" %}"></script>
{% endblock %}