{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="col-md-12">
        <div class="panel panel-flat panel-inei">
            <div class="panel-heading">
                <h6 class="panel-title text-inei">Aulas asignadas<a class="heading-elements-toggle"><i
                        class="icon-more"></i></a>
                </h6>
                <div class="heading-elements">
                    <button type="button" id="btn_bajas_altas" class="btn btn-primary heading-btn legitRipple">Bajas y
                        Altas
                    </button>
                </div>
            </div>

            <div class="panel-body">
                <label>Aula: </label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select id="select_aulas_asignadas" class="form-control">
                                <option value="">Seleccione aula</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-flat panel-inei">
            <div class="panel-heading">
                <h5 class="panel-title text-inei">Asistencia</h5>
                <div class="heading-elements">
                    <div class="heading-btn">
                        <a id="btn_exportar" data-popup="tooltip" title="Exportar"
                           class="btn btn-success btn-icon legitRipple"><i
                                class="icon-file-excel"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 col-md-offset-5">
                        <button id="btn_save_asistencia" type="button"
                                class="pull-right btn bg-primary btn-raised active legitRipple btn-labeled btn-rounded">
                            <b><i class="icon-floppy-disk"></i></b> Guardar Asistencia
                        </button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div id="div_tabla_asistencia" class="table-responsive">
                            <table style="width: 100%;max-width: 100%;" id="tabla_asistencia"
                                   class="table-responsive table table-striped table-hover table-bordered">
                                <caption>
                                    <p style="color: #2196F3 !important;font-weight: 700;text-align: center;">CENSOS
                                        NACIONALES 2017: XII DE
                                        POBLACIÓN, VII DE
                                        VIVIENDA Y III DE
                                        COMUNIDADES INDÍGENAS</p>
                                    <p style="color: #2196F3 !important;font-weight: 700;text-align: center;">- III DE
                                        COMUNIDADES NATIVAS
                                        DE LA AMAZONÍA Y I DE
                                        COMUNIDADES CAMPESINAS</p>
                                    <p style="color: #2196F3 !important;font-weight: 700;text-align: center;">II CENSO
                                        EXPERIMENTAL</p>
                                    <p style="color: #2196F3 !important;font-weight: 700;text-align: center;">LISTA DE
                                        ASISTENCIA</p>
                                    <p id="p_curso_actual"
                                       style="color: #2196F3 !important;font-weight: 700;text-align: center;"></p>
                                    <p style="color: #2196F3 !important;font-weight: 700;text-align: left;">NOMBRE DE
                                        LOCAL: <span
                                                id="span_nombre_local"></span></p>
                                    <p style="color: #2196F3 !important;font-weight: 700;text-align: left;">DIRECCIÓN:
                                        <span id="span_direccion"></span>
                                    </p>
                                    <p style="color: #2196F3 !important;font-weight: 700;text-align: left;">FECHA DE
                                        CAPACITACIÓN: <span
                                                id="span_fecha_inicio"></span></p>
                                    <p style="color: #2196F3 !important;font-weight: 700;text-align: left;">AULA: <span
                                            id="span_aula"></span></p>
                                    <p style="color: #2196F3 !important;font-weight: 700;text-align: left;">INSTRUCTOR:
                                        <span
                                                id="span_nombre_instructor"></span>
                                    </p>
                                </caption>
                                <thead>

                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal_bajas_altas" tabindex="-1" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h6 class="modal-title">Bajas y altas</h6>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Digite el N° DNI del Personal para realizar la baja</label>
                                <div class="input-group">
                                    <select id="select_personal_para_baja"
                                            class="select form-control">
                                    </select>
                                    <div class="input-group-btn" style="padding-left: 20px;">
                                        <button id="btn_dar_baja" type="button"
                                                class="btn bg-danger btn-raised active legitRipple btn-labeled btn-rounded">
                                            <b><i class="icon-thumbs-down2"></i></b> Dar de baja
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="tabla_baja_alta_reporte"
                                       class="table table-responsive table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>CARGO</th>
                                        <th>STATUS</th>
                                        <th>APELLIDO PATERNO</th>
                                        <th>APELLIDO MATERNO</th>
                                        <th>NOMBRES</th>
                                        <th>DNI</th>
                                        <th>Acción</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal_darAlta" tabindex="-1" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h6 class="modal-title">Bajas y altas</h6>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Digite el N° DNI del Personal para realizar dar Alta</label>
                                <div class="input-group">
                                    <select id="select_personal_para_alta"
                                            class="select form-control">
                                    </select>
                                    <div class="input-group-btn" style="padding-left: 20px;">
                                        <button id="btn_dar_alta" type="button"
                                                class="btn bg-success btn-raised active legitRipple btn-labeled btn-rounded">
                                            <b><i class="icon-thumbs-up2"></i></b> Dar de Alta
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div id="asistenciaclone" class="hide"></div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "assets/js/plugins/forms/validation/validate.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/jquery.battatech.excelexport.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/require.js" %}"
            data-main="{% static "build/asistencia/asistencia.view.js" %}"></script>
{% endblock %}