{% extends 'base/base.html' %}
{% load staticfiles %}
{% block css %}
    <style></style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-flat panel-inei">
                <div class="panel-heading">
                    <h5 class="panel-title text-inei">Distribución</h5>
                    <div class="heading-elements">
                        <button type="button" id="btn_asignacion_zonas" class="btn btn-primary heading-btn legitRipple">
                            Asignar Zonas por Local
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label>Local</label>
                            <select id="select_locales_seleccionados" class="select form-control">
                                <option value="">Seleccione local</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" id="btn_pea_capacitar" class="btn btn-primary">Personal seleccionado
                        </button>
                        <button type="button" id="btn_pea_contingencia" class="btn btn-primary">Personal de reserva
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel panel-flat panel-inei">
                <div class="panel-heading">
                    <h5 class="panel-title text-inei">Detalle ambientes por local</h5>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table id="tabla_detalle_ambientes" class="table table-responsive table-bordered">
                                <thead>
                                <tr class="bg-table-inei1">
                                    <th>
                                        <center>Aula de capacitación</center>
                                        <center>N°</center>
                                    </th>
                                    <th>Ambiente</th>
                                    <th>Número de ambiente</th>
                                    <th>Capacidad</th>
                                    <th>Personal por aula</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-flat panel-inei">
                <div class="panel-heading">
                    <h5 class="panel-title text-inei">Personal por aula</h5>
                    <div class="heading-elements">
                        <div class="heading-btn">
                            <button type="button" data-popup="tooltip" title="Exportar"
                                    class="btn btn-primary btn-icon legitRipple"><i
                                    class="icon-file-excel"></i></button>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <p class="text-primary text-center text-bold">CENSOS NACIONALES 2017: XII DE POBLACIÓN, VII DE
                            VIVIENDA Y III DE
                            COMUNIDADES INDÍGENAS</p>
                        <p class="text-primary text-center text-bold">CENSO EXPERIMENTAL</p>
                        <p class="text-primary text-center text-bold">RELACIÓN DE PARTICIPANTES</p>
                        <p id="p_curso_actual" class="text-primary text-center text-bold">CURSO DE JEFES DE ZONA</p>
                        <p class="text-primary text-left text-bold">NOMBRE DE LOCAL: <span
                                id="span_nombre_local"></span></p>
                        <p class="text-primary text-left text-bold">DIRECCIÓN: <span id="span_direccion"></span></p>
                        <p class="text-primary text-left text-bold">FECHA DE CAPACITACIÓN: <span
                                id="span_fecha_inicio"></span></p>
                        <p class="text-primary text-left text-bold">AULA: <span id="span_aula"></span></p>
                        <p class="text-primary text-left text-bold">INSTRUCTOR:
                            <select style="-webkit-appearance: menulist-button;width: 50%;height: 30px"
                                    id="select_instructor">
                                <option value="">Seleccione Instructor</option>
                                <option value="10">08471929 - Esther Roldan Jaramillo</option>
                            </select> <a id="a_save_instructor" data-popup="tooltip"
                                         title="Guardar Instructor en esta aula"><i
                                    class="icon-pencil7" style="font-size: 24px"></i></a>
                        </p>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <table id="tabla_pea"
                                   class="table-responsive table table-striped table-hover table-bordered">
                                <thead>
                                <tr class="bg-table-inei1">
                                    <th>N°</th>
                                    <th>DNI</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                    <th>Nombres</th>
                                    <th>Cargo</th>
                                    <th>Zona</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="modal_personal_capacitar_no_distribuido" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">Detalle PEA</h6>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="button" id="btn_distribuir" class="btn btn-primary">Realizar Asignacion
                                Automática
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <table id="tabla_pea_capacitar" class="table table-responsive table-bordered">
                                <thead>
                                <tr class="bg-table-inei1">
                                    <th>N°</th>
                                    <th>DNI</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                    <th>Nombre</th>
                                    <th>Cargo</th>
                                    <th>Zona</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div id="modal_personal_reserva" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">Personal de reserva</h6>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="table table-responsive">
                            <table id="tabla_personal_reserva" class="table table-responsive table-bordered">
                                <thead>
                                <tr class="bg-table-inei1">
                                    <th>N°</th>
                                    <th>Dni</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                    <th>Nombre</th>
                                    <th>Cargo</th>
                                    <th>Zona</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div id="modal_reporte_pea_exportar" class="modal fade">
        <div class="modal-dialog modal-full">
            <div class="row">
                <a href="#" id="btn_exportar_evaluacion" class="btn btn-primary">Exportar</a>
            </div>
            <div id="div_listado_reporte" class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">Reporte PEA Asistencia</h6>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="table table-responsive">
                            <table align="left" style="font-family:Arial; font-size:10px; width: 90%;" border="1"
                                   cellpadding="2" cellspacing="2" bordercolor="#DFDFDF"
                                   id="tabla_reporte_pea_asistencia" class="table table-bordered">
                                <caption>
                                    <center><h4 class="text-center">CENSOS NACIONALES 2017: XII DE POBLACIÓN, VII DE
                                        VIVIENDA Y III DE COMUNIDADES INDÍGENAS</h4>
                                        <h4 class="text-center">CENSO EXPERIMENTAL</h4>
                                        <h4 class="text-center">RELACIÓN DE PARTICIPANTES</h4>
                                        <h4 id="descripcion_curso_aula" class="text-center"></h4>
                                        <h4 id="descripcion_aula" class="text-center"></h4></center>
                                </caption>
                                <caption>
                                    <label>NOMBRE DE LOCAL :</label><label id="listado_nombre_local"></label><br>
                                    <label>DIRECCIÓN DE LOCAL :</label><label
                                        id="listado_direccion_local"></label><br>
                                    <label>FECHA DE CAPACITACIÓN :</label><label
                                        id="listado_fecha_local"></label><br>
                                    <label>AULA :</label><label id="listado_aula_local"></label>
                                </caption>
                                <thead>

                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div id="modal_asignacion_zonas" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h6 class="modal-title">Asignación de zonas por local</h6>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-8">
                                <label>Locales</label>
                                <select id="select_locales_seleccionados_asignacion" class="select form-control">
                                    <option value="">Seleccione local</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-8">
                                <label class="text-bold">Seleccione zonas para asignar:</label>
                                <select id="select_zonas_por_asignar" multiple="multiple" class="select form-control">

                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <table id="table_localzonas_detalle" class="table table-responsive table-bordered">
                            <thead>
                            <tr class="bg-blue-400">
                                <th>Nombre Local</th>
                                <th>Zona</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>


                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link legitRipple" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btn_asignar_zonas" class="btn btn-primary legitRipple">Asignar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "assets/js/plugins/forms/validation/validate.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/require.js" %}"
            data-main="{% static "build/distribucion/distribucion.view.js" %}"></script>
{% endblock %}