{% extends 'base/base.html' %}
{% load staticfiles %}
{% block css %}
{% endblock %}
{% block content %}

    <div class="row" id="tablaPrincipalManual">
        <div class="panel panel-primary panel-bordered">
            <div class="panel-heading">
                <h6 class="panel-title">Manuales a evaluar</h6>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <div class="panel panel-flat table-responsive">
                    <form id="formControl" class="form-validate-jquery">
                        <table class="table datatable-basic" id="tablaManual">

                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="tablaR1" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">---</h5>
                </div>

                <div class="modal-body" id="grupoPregunta1">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="guardarForm">Save changes</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "assets/js/plugins/forms/validation/validate.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/jquery.battatech.excelexport.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/require.js" %}"
            data-main="{% static "build/controlcalidad/durantecalidad.view.js" %}"></script>

    {#    <script type="text/javascript" src="{% static "assets/js/pages/components_pagination.js" %}"></script>#}
    <script type="text/javascript" src="{% static "assets/js/plugins/pagination/bootpag.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/pagination/bs_pagination.min.js" %}"></script>
    {#    <script type="text/javascript" src="{% static "assets/js/plugins/pagination/datepaginator.min.js" %}"></script>#}
    {#    <script type="text/javascript" src="assets/js/pages/form_checkboxes_radios.js"></script>#}

{% endblock %}