{% extends 'base/base2.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h5 class="text-center text-inei no-border-bottom">El Sistema Capacitación para los Censos Nacionales 2017:
                XII de Población, VII de Vivienda y III de Comunidades Indígenas –
                III de Comunidades Nativas y I de Comunidades Campesinas,
                permite registrar la información de los locales y
                ambientes destinados al proceso de capacitación de los funcionarios censales a participar en las etapas
                de Censo Experimental y Empadronamiento a nivel nacional, realizar la distribución del personal
                seleccionado a capacitar, así como registrar la asistencia, evaluaciones y bajas y sus respectivas altas
                por renuncia u otros motivos, producidas durante el proceso de capacitación, para finalmente obtener el
                listado de personal aprobado.</h5>
        </div>
        <div class="col-md-2"></div>
    </div>
    {#    <div class="row">#}
    {#        <div class="col-md-12">#}
    {#            <div class="panel panel-flat">#}
    {#                <div class="panel-heading">#}
    {#                    <h6 class="panel-title"><a class="heading-elements-toggle"><i#}
    {#                            class="icon-more"></i></a></h6>#}
    {#                    <div class="heading-elements">#}
    {#                        <ul class="icons-list">#}
    {#                            <li><a data-action="collapse"></a></li>#}
    {#                            <li><a data-action="reload"></a></li>#}
    {#                            <li><a data-action="close"></a></li>#}
    {#                        </ul>#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {#                <div class="panel-body">#}
    {#                    <div class="row">#}
    {#                        <div class="form-group">#}
    {#                            <select class="bootstrap-select" data-style="btn-primary" data-width="50%">#}
    {#                                <option value="">Seleccione Etapa:</option>#}
    {#                                <option value="1">I Censo Experimental</option>#}
    {#                                <option value="2">II Censo Experimental</option>#}
    {#                                <option value="4">III Censo Experimental</option>#}
    {#                                <option value="3">Empadronamiento</option>#}
    {#                            </select>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="row">#}
    {#                        <div class="table-responsive">#}
    {#                            <table id="tabla_cursos" class="table table-bordered">#}
    {#                                <thead>#}
    {#                                <tr>#}
    {#                                    <th>Etapa</th>#}
    {#                                    <th>Nombre Curso</th>#}
    {#                                    <th>Estado</th>#}
    {#                                    <th>Acción</th>#}
    {#                                </tr>#}
    {#                                </thead>#}
    {#                                <tbody>#}
    {##}
    {#                                </tbody>#}
    {#                            </table>#}
    {#                        </div>#}
    {#                    </div>#}
    {##}
    {##}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "assets/js/plugins/forms/validation/validate.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "assets/js/plugins/forms/selects/bootstrap_select.min.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.bootstrap-select').selectpicker();
        })
    </script>
    <script type="text/javascript" src="{% static "assets/js/require.js" %}"
            data-main="{% static "build/home.js" %}"></script>
{% endblock %}