{% extends 'base/base.html' %}
{% load staticfiles %}

{% block css %}
    <style>
        .pure-checkbox input[type="checkbox"], .pure-radiobutton input[type="checkbox"], .pure-checkbox input[type="radio"], .pure-radiobutton input[type="radio"] {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        .pure-checkbox input[type="checkbox"]:focus + label:before, .pure-radiobutton input[type="checkbox"]:focus + label:before, .pure-checkbox input[type="radio"]:focus + label:before, .pure-radiobutton input[type="radio"]:focus + label:before, .pure-checkbox input[type="checkbox"]:hover + label:before, .pure-radiobutton input[type="checkbox"]:hover + label:before, .pure-checkbox input[type="radio"]:hover + label:before, .pure-radiobutton input[type="radio"]:hover + label:before {
            border-color: #4f8196;
            background-color: #f2f2f2;
        }

        .pure-checkbox input[type="checkbox"]:active + label:before, .pure-radiobutton input[type="checkbox"]:active + label:before, .pure-checkbox input[type="radio"]:active + label:before, .pure-radiobutton input[type="radio"]:active + label:before {
            transition-duration: 0s;
        }

        .pure-checkbox input[type="checkbox"] + label, .pure-radiobutton input[type="checkbox"] + label, .pure-checkbox input[type="radio"] + label, .pure-radiobutton input[type="radio"] + label {
            position: relative;
            padding-left: 2em;
            vertical-align: middle;
            user-select: none;
            cursor: pointer;
        }

        .pure-checkbox input[type="checkbox"] + label:before, .pure-radiobutton input[type="checkbox"] + label:before, .pure-checkbox input[type="radio"] + label:before, .pure-radiobutton input[type="radio"] + label:before {
            box-sizing: content-box;
            content: '';
            color: #4f8196;
            position: absolute;
            top: 50%;
            left: 0;
            width: 14px;
            height: 14px;
            margin-top: -9px;
            border: 2px solid #4f8196;
            text-align: center;
            transition: all 0.4s ease;
        }

        .pure-checkbox input[type="checkbox"] + label:after, .pure-radiobutton input[type="checkbox"] + label:after, .pure-checkbox input[type="radio"] + label:after, .pure-radiobutton input[type="radio"] + label:after {
            box-sizing: content-box;
            content: '';
            background-color: #4f8196;
            position: absolute;
            top: 50%;
            left: 4px;
            width: 10px;
            height: 10px;
            margin-top: -5px;
            transform: scale(0);
            transform-origin: 50%;
            transition: transform 200ms ease-out;
        }

        .pure-checkbox input[type="checkbox"]:disabled + label:before, .pure-radiobutton input[type="checkbox"]:disabled + label:before, .pure-checkbox input[type="radio"]:disabled + label:before, .pure-radiobutton input[type="radio"]:disabled + label:before {
            border-color: #cccccc;
        }

        .pure-checkbox input[type="checkbox"]:disabled:focus + label:before, .pure-radiobutton input[type="checkbox"]:disabled:focus + label:before, .pure-checkbox input[type="radio"]:disabled:focus + label:before, .pure-radiobutton input[type="radio"]:disabled:focus + label:before, .pure-checkbox input[type="checkbox"]:disabled:hover + label:before, .pure-radiobutton input[type="checkbox"]:disabled:hover + label:before, .pure-checkbox input[type="radio"]:disabled:hover + label:before, .pure-radiobutton input[type="radio"]:disabled:hover + label:before {
            background-color: inherit;
        }

        .pure-checkbox input[type="checkbox"]:disabled:checked + label:before, .pure-radiobutton input[type="checkbox"]:disabled:checked + label:before, .pure-checkbox input[type="radio"]:disabled:checked + label:before, .pure-radiobutton input[type="radio"]:disabled:checked + label:before {
            background-color: #cccccc;
        }

        .pure-checkbox input[type="checkbox"] + label:after, .pure-radiobutton input[type="checkbox"] + label:after {
            background-color: transparent;
            top: 50%;
            left: 4px;
            width: 8px;
            height: 3px;
            margin-top: -4px;
            border-style: solid;
            border-color: #ffffff;
            border-width: 0 0 3px 3px;
            border-image: none;
            transform: rotate(-45deg) scale(0);
        }

        .pure-checkbox input[type="checkbox"]:checked + label:after, .pure-radiobutton input[type="checkbox"]:checked + label:after {
            content: '';
            transform: rotate(-45deg) scale(1);
            transition: transform 200ms ease-out;
        }

        .pure-checkbox input[type="radio"]:checked + label:before, .pure-radiobutton input[type="radio"]:checked + label:before {
            animation: borderscale 300ms ease-in;
            background-color: white;
        }

        .pure-checkbox input[type="radio"]:checked + label:after, .pure-radiobutton input[type="radio"]:checked + label:after {
            transform: scale(1);
        }

        .pure-checkbox input[type="radio"] + label:before, .pure-radiobutton input[type="radio"] + label:before, .pure-checkbox input[type="radio"] + label:after, .pure-radiobutton input[type="radio"] + label:after {
            border-radius: 50%;
        }

        .pure-checkbox input[type="checkbox"]:checked + label:before, .pure-radiobutton input[type="checkbox"]:checked + label:before {
            animation: borderscale 200ms ease-in;
            background: #4f8196;
        }

        .pure-checkbox input[type="checkbox"]:checked + label:after, .pure-radiobutton input[type="checkbox"]:checked + label:after {
            transform: rotate(-45deg) scale(1);
        }

        @keyframes borderscale {
            50% {
                box-shadow: 0 0 0 2px #4f8196;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="panel panel-flat panel-inei">
        <div class="panel-heading">
            <h5 class="panel-title text-inei">UBICACIÓN GEOGRÁFICA</h5>

        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-3">
                    <label>Departamento</label>

                    <select id="departamentos" class="form-control bg-white text-grey-400">

                        <option value="">Seleccione departamento</option>
                    </select>

                </div>
                <div class="col-md-3">

                    <label>Provincia</label>
                    <select id="provincias" class="form-control bg-white text-grey-400">

                        <option value="">Seleccione provincia</option>
                    </select>

                </div>
                <div class="col-md-3">
                    <label>Distrito</label>
                    <select id="distritos" class=" form-control bg-white text-grey-400">

                        <option value="">Seleccione distrito</option>
                    </select>

                </div>
                <div class="col-md-3">
                    <label>Zona</label>
                    <select id="zona" class="form-control bg-white text-grey-400">

                        <option value="0">Seleccione zona</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="text-left">
                    <button type="button" class="btn btn-primary btn-sm" id="buscarlocalmarco" class="btn btn-primary">
                        Buscar Local Marco <i
                            class="icon-arrow-right14 position-right"></i></button>
                    <button type="button" class="btn btn-primary btn-sm" id="buscarlocal" class="btn btn-primary">
                        Buscar Local Seleccionado <i
                            class="icon-arrow-right14 position-right"></i></button>

                </div>
            </div>
        </div>
    </div>
    <form class="form-validate-jquery" id="form_local" action="#">
        <div class="panel panel-flat panel-inei">
            <div class="panel-heading">
                <h5 class="panel-title text-inei">NOMBRE DEL LOCAL Y DIRECCION</h5>
            </div>
            <div class="panel-body">
                <input type="hidden" id="id_local">
                <div id="localdata">
                    <fieldset class="content-group">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Nombre del local</label>
                                    <input type="text" required="required" name="nombre_local"
                                           class="form-control" placeholder=" Digite nombre del local">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Zona N°</label>
                                <div class="form-group">
                                    <select name="zona_ubicacion_local" class="form-control bg-white text-grey-400"
                                            id="zona_ubicacion_local">
                                        <option value="">Seleccione el N° de Zona</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Tipo de vía</label>
                                <div class="form-group">
                                    <select name="tipo_via" class="form-control bg-white text-grey-400" id="tipo_via">
                                        <option value="">Seleccione tipo de vía</option>
                                        <option value="1">AVENIDA</option>
                                        <option value="2">CALLE</option>
                                        <option value="3">JIRÓN</option>
                                        <option value="4">PASAJE</option>
                                        <option value="5">CARRETERA</option>
                                        <option value="6">OTRO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Nombre de vía</label>
                                <div class="form-group">
                                    <input type="text" required="required" name="nombre_via"
                                           class="form-control" placeholder=" Digite nombre de vía">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label>N° de Puerta</label>
                                <div class="form-group">
                                    <input type="text" required="required" name="n_direccion"
                                           class="form-control" placeholder=" Puerta">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label>Piso</label>
                                <div class="form-group">
                                    <input type="text" required="required" name="piso_direccion"
                                           class="form-control" placeholder=" Piso">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label>MZ</label>
                                <div class="form-group">
                                    <input type="text" name="mz_direccion"
                                           class="form-control" placeholder=" Mz">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label>Lote</label>
                                <div class="form-group">
                                    <input type="text" name="lote_direccion"
                                           class="form-control" placeholder=" Lote">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label>KM</label>
                                <div class="form-group">
                                    <input type="text" name="km_direccion"
                                           class="form-control" placeholder=" KM">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>Referencia</label>
                                <div class="form-group">
                                    <input type="text" name="referencia"
                                           class="form-control"
                                           placeholder=" Digite referencia para la ubicación del local">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Teléfono Fijo</label>
                                <div class="form-group">
                                    <input type="number" name="telefono_local_fijo"
                                           class="form-control" placeholder=" Digite N° Fijo">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Teléfono Celular</label>
                                <div class="form-group">
                                    <input type="number" name="telefono_local_celular"
                                           class="form-control" placeholder=" Digite N° Celular">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="panel panel-flat panel-inei">
            <div class="panel-heading">
                <h5 class="panel-title text-inei">DATOS DEL RESPONSABLE DEL LOCAL</h5>

            </div>
            <div class="panel-body">
                <fieldset class="content-group">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Apellidos y Nombre</label>
                                <input type="text" required="required" name="responsable_nombre"
                                       class="form-control" placeholder=" Digite Apellidos y Nombres">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>E-mail</label>
                                <input type="text" required="required" name="responsable_email"
                                       class="form-control" placeholder=" Digite dirección Email">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Teléfono Fijo</label>
                                <input type="number" name="responsable_telefono"
                                       class="form-control" placeholder=" Digite teléfono fijo">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Teléfono Celular</label>
                                <input type="number" name="responsable_celular"
                                       class="form-control" placeholder=" Digite teléfono celular">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="panel panel-flat panel-inei">
            <div class="panel-heading">
                <h5 class="panel-title text-inei">PERIODO DE CAPACITACIÓN Y TURNO</h5>
            </div>
            <div class="panel-body">
                <fieldset class="content-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Fecha Inicio</label>
                            <div class="form-group">
                                <input type="text" required="required" name="fecha_inicio"
                                       class="daterange-single form-control" placeholder=" Ingrese fecha inicio">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Fecha Fin</label>
                            <div class="form-group">
                                <input type="text" required="required" name="fecha_fin"
                                       class="daterange-single form-control" placeholder=" Ingrese fecha fin">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Turno</label>
                            <div class="form-group">
                                <select name="turno_uso_local" class="form-control bg-white text-grey-400">
                                    <option value="">Seleccione Turno</option>
                                    <option value="0">Mañana</option>
                                    <option value="1">Tarde</option>
                                    <option value="2">Todo el día</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>


        <div class="panel panel-flat panel-inei">
            <div class="panel-heading">
                <h5 class="panel-title text-inei">REGISTRO DE AULA/S Y/O AMBIENTE/S</h5>

            </div>
            <div class="panel-body">
                <div id="ambientes_esconder">
                    <fieldset class="content-group" id="ambientesdata">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <table class="table-responsive table table-striped table-hover">
                                    <thead>
                                    <tr class="bg-table-inei1">
                                        <th>
                                            <center>Tipo de Ambiente</center>
                                        </th>
                                        <th>
                                            <center>Total</center>
                                        </th>
                                        <th>
                                            <center>Disponible</center>
                                        </th>
                                        <th>
                                            <center>A usar</center>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Aula</td>
                                        <td><input type="number" name="cantidad_total_aulas"
                                                   id="cantidad_total_aulas"
                                                   class="form-control" value="">
                                        </td>
                                        <td><input type="number" name="cantidad_disponible_aulas"
                                                   id="cantidad_disponible_aulas"
                                                   class="form-control" value="">
                                        </td>
                                        <td><input type="number" name="cantidad_usar_aulas"
                                                   id="cantidad_usar_aulas"
                                                   class="form-control" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Auditorio</td>
                                        <td><input type="number" name="cantidad_total_auditorios"
                                                   id="cantidad_total_auditorios"
                                                   class="form-control" value="">
                                        </td>
                                        <td><input type="number" name="cantidad_disponible_auditorios"
                                                   id="cantidad_disponible_auditorios"
                                                   class="form-control" value="">
                                        </td>
                                        <td><input type="number" name="cantidad_usar_auditorios"
                                                   id="cantidad_usar_auditorios"
                                                   class="form-control" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sala de Reuniones</td>
                                        <td><input type="number" name="cantidad_total_sala"
                                                   id="cantidad_total_sala"
                                                   class="form-control" value="">
                                        </td>
                                        <td><input type="number" name="cantidad_disponible_sala"
                                                   id="cantidad_disponible_sala"
                                                   class="form-control" value="">
                                        </td>
                                        <td><input type="number" name="cantidad_usar_sala"
                                                   id="cantidad_usar_sala"
                                                   class="form-control" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Oficina Administrativa</td>
                                        <td><input type="number" name="cantidad_total_oficina"
                                                   id="cantidad_total_oficina"
                                                   class="form-control" value="">
                                        </td>
                                        <td><input type="number" name="cantidad_disponible_oficina"
                                                   id="cantidad_disponible_oficina"
                                                   class="form-control" value="">
                                        </td>
                                        <td><input type="number" name="cantidad_usar_oficina"
                                                   id="cantidad_usar_oficina"
                                                   class="form-control" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sala de Cómputo</td>
                                        <td><input type="number" name="cantidad_total_computo"
                                                   id="cantidad_total_computo"
                                                   class="form-control" value="">
                                        </td>
                                        <td><input type="number" name="cantidad_disponible_computo"
                                                   id="cantidad_disponible_computo"
                                                   class="form-control" value="">
                                        </td>
                                        <td><input type="number" name="cantidad_usar_computo"
                                                   id="cantidad_usar_computo"
                                                   class="form-control" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="number" name="especifique_otros"
                                                   id="especifique_otros"
                                                   class="form-control"
                                                   style="border-top:none;border-left:none;border-right:none;border-bottom-color: #ddd;"
                                                   value="" placeholder="Otro (Especifique):"></td>
                                        <td><input type="number" name="cantidad_total_otros"
                                                   id="cantidad_total_otros"
                                                   class="form-control" value="">
                                        </td>
                                        <td><input type="number" name="cantidad_disponible_otros"
                                                   id="cantidad_disponible_otros"
                                                   class="form-control" value="">
                                        </td>
                                        <td><input type="number" name="cantidad_usar_otros"
                                                   id="cantidad_usar_otros"
                                                   class="form-control" value="">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="row">
                    <div class="text-right">
                        <button type="button" class="btn btn-primary" id="btn_generar_ambientes">GENERAR AMBIENTE/S A
                            USAR
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-flat panel-inei">
            <div class="panel-heading">
                <h5 class="panel-title text-inei">REGISTRO DE AULA/S</h5>

            </div>
            <div class="panel-body">
                <fieldset class="content-group">

                    <div class="row">
                        <table id="tabla_aulas" class="table table-bordered table-responsive">

                            <thead>

                            <tr>
                                <th>
                                    <center>Aula de Capacitación N°</center>
                                </th>
                                <th>
                                    <center>Tipo de Ambiente</center>
                                </th>
                                <th>
                                    <center>N° Ambiente</center>
                                </th>
                                <th>
                                    <center>Capacidad</center>
                                </th>
                                <th>
                                    <center>Piso</center>
                                </th>
                                <th>
                                    <center>Guardar</center>
                                </th>
                            </tr>

                            </thead>

                            <tbody>

                            </tbody>
                            <tfoot>
                            <tr style="background-color:#A5C25C">
                                <td colspan="3">TOTAL</td>
                                <td>
                                    <span id="capacidad_total"></span>
                                </td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="panel panel-flat panel-inei">
            <div class="panel-heading">
                <h5 class="panel-title text-inei">DATOS DE FUNCIONARIO DEL INEI</h5>

            </div>
            <div class="panel-body">
                <fieldset class="content-group">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Apellidos y Nombres</label>
                                    <input type="text" required="required" name="funcionario_nombre"
                                           class="form-control" placeholder="Digite Apellidos y Nombres">
                                </div>
                                {#                                <select class="form-control bg-white text-grey-400" name="funcionario_nombre"#}
                                {#                                        id="funcionario_nombre">#}
                                {#                                    <option value="">Seleccione</option>#}
                                {#                                </select>#}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Cargo</label>
                                <input type="text" name="funcionario_cargo"
                                       class="form-control" placeholder="Digite cargo">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" required="required" name="funcionario_email"
                                       class="form-control" placeholder="Digite Email">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Teléfono Celular</label>
                                <input type="number" name="funcionario_celular"
                                       class="form-control" placeholder="Digite Teléfono Celular">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="text-left">
            <button type="button" id="btn_save_local" class="btn btn-primary">Guardar <i
                    class="icon-arrow-right14 position-right"></i></button>
        </div>
    </div>
    </div>

    <!-- /simple panel -->
    <!-- Footer -->
    <div class="footer text-muted">
    </div>
    <div id="modal_localesbyubigeo" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">LOCALES SELECCIONADOS PARA CURSO</h6>
                </div>

                <div class="modal-body">
                    <table class="table datatable-basic table-bordered" id="tabla_locales_filter">
                        <thead>
                        <tr class="bg-blue">
                            <th>Nombre Local</th>
                            <th>Zona</th>
                            <th>Nombre de Via</th>
                            <th>N° de Puerta</th>
                            <th>Referencia</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="modal_localesmarco" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">LOCALES DEL MARCO</h6>
                </div>

                <div class="modal-body">
                    <button type="button" class="btn btn-primary" id="reset">NUEVO LOCAL <i
                            class="icon-home4 position-right"></i></button>
                    <table class="table datatable-basic table-bordered" id="tabla_directorio_locales_filter">
                        <thead>
                        <tr class="bg-blue">
                            <th>N°</th>
                            <th>Nombre Local</th>
                            <th>Zona</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- /.modal -->
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "assets/js/plugins/ui/moment/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/ui/moment/moment_locales.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/pickers/daterangepicker.js" %}"></script>
    <script type="text/javascript"
            src="{% static "assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/forms/validation/validate.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/require.js" %}"
            data-main="{% static "build/locales_consecucion/locales.view.js" %}"></script>
{% endblock %}