{% load staticfiles %}
<div class="navbar navbar-inverse navbar-fixed-top bg-indigo-inei">
    <h5 style="
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
">SISTEMA DE CAPACITACIÓN</h5>
    <div class="navbar-header">
           <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {#            <li><a href="#">Text link</a></li>#}

            {#            <li>#}
            {#                <a href="#">#}
            {#                    <i class="icon-cog3"></i>#}
            {#                    <span class="visible-xs-inline-block position-right">Icon link</span>#}
            {#                </a>#}
            {#            </li>#}

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src='{% static "assets/images/icon_male.jpg" %}' alt="">
                    <span>{{ request.session.user_data.nombre }}</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-plus"></i> Mi perfil</a></li>
                    <li><a href="#"><i class="icon-switch2"></i>Cerrar Sesión</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>