{% load staticfiles %}
<div class="page-header page-header-default border-bottom border-bottom-primary">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i>{{ breadcumbs }}</h4>
        </div>
        <div class="heading-elements">
            <a href="{% static "GUIA_USUARIO_SISTEMA_DE_CAPACITACION.pdf" %}" target="_blank"
               class="btn bg-success active btn-labeled heading-btn legitRipple" type="button"><b><i
                    class="icon-download7"></i></b> GUIA DE USUARIO
            </a>
        </div>
    </div>
</div>