{% load staticfiles %}
<div class="sidebar sidebar-main sidebar-fixed sidebar-inei">
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">
                    <a href="#" class="media-left"><img src="{% static "assets/images/icon_male.jpg" %}"
                                                        class="img-circle img-sm" alt=""></a>
                    <div class="media-body">
                        <h3 class="media-heading text-bold">{{ request.session.user_data.user.rol.nombre }}</h3>
                        <div class="text-size-mini text-muted">
                            <span id="span_usuario_nombre" data-id="{{request.session.user_data.user.rol.id}}">{{ request.session.user_data.user.nombre }} {{ request.session.user_data.user.ape_pat }} {{ request.session.user_data.user.ape_mat }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="sidebar-category navigation navigation-main navigation-accordion">
                <!-- Main -->
                <li class="navigation-header text-white" style="margin-bottom: -30px;"><span class="titlesidebar">ETAPAS Y CURSOS</span>
                    <i class="icon-menu" title="Main pages"></i></li>
                <li class="category-content ">
                    <select id="etapa" class="form-control bg-white text-grey-400">
                        <option value="">Seleccione etapa</option>
                        <option value="1">I Censo Experimental</option>
                        <option value="2">II Censo experimental</option>
                        <option value="4">III Censo experimental</option>
                        <option value="3">Empadronamiento</option>
                    </select>
                    <br>
                    <select id="cursos" name="id_curso" class="form-control bg-white text-grey-400"
                            style="margin-top: -15px;">
                        <option value="">Seleccione Curso</option>
                    </select>
                </li>
            </ul>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    <!-- Main -->
                    {% autoescape off %}
                        {{ CLIENT_MENU.menu }}
                    {% endautoescape %}
                    <!-- /main -->
                </ul>
            </div>
        </div>
        <!-- /main navigation -->
        <div class="bg-sidebar-inei" style="background-image: url({% static "assets/images/sidebar-5.png" %})">

        </div>
    </div>

</div>